@import '../Variables/variables.scss';

.list {
    li {
        font-family: map-get($font-families, Kalam);
        background: map-get($background-colors, card-background);
        border-radius: map-get($border-radius, "small");
        height: map-get($heights, card-tiles);
        box-shadow: map-get($shadows, cardList-shadow);
    }
}