@import '../Variables/variables.scss';

body,
html {
    max-height: map-get($heights, max-window);
}

.mainContainer {
    min-height: map-get($heights, max-window);
    width: map-get($widths, viewport);
    background-color: map-get($background-colors, main-background);
    flex-flow: row wrap;
}

.inputContainer {
    background-color: map-get($background-colors, inputContainer-background);
    box-shadow: map-get($shadows, inputBlock-shadow);
    border-radius: map-get($border-radius, "small");
    border: 2px solid #0000006b;
}